{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Buddy</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<!-- NAVBAR -->
<div class="navbar">
    <div class="logo">MealBuddy 🍽️</div>
    <div class="nav-links">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'show_cart' username=request.user.username %}" class="nav-item">
        <i class="fa-solid fa-cart-shopping"></i> Cart</a>
        <a href="/logout">Logout</a>
    </div>
</div>

<!-- MAIN CONTENT -->
<div class="main-wrapper">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>