{% extends 'base.html' %}

{% block content %}

<div class="form-card">
    <h2>Sign Up</h2>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>

        <button type="submit" class="btn">Create Account</button>
    </form>
</div>

{% endblock %}